body {
  background-color: hsl(0, 0%, 8%);
  font-family: 'Inter', sans-serif;
  text-align: center; /* Centers inline text, but not the element */
  color: white;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Makes body take the full screen height */
  margin: 0;
  padding: 20px;
}

main {
  background-color: hsl(0, 0%, 12%);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
}

.author_name {
    font-size: 27px; /* Adjust as needed */
    font-weight: normal;
  }
  .author_location {
    font-size: 16px; /* Smaller than name */
    font-weight: normal;
    color: hsl(75, 94%, 57%);
  }

.author_about {
  color: rgb(211, 209, 209);
}

.socials {
    list-style: none; /* Removes bullet points */
    padding: 0;
  }
  
  .socials a {
    display: flex;
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    padding: 15px; /* More padding = bigger buttons */
    background-color: hsl(0, 0%, 20%);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 20px;
    font-size: 16px; /* Makes text bigger */
    font-weight: 600; /* Adds some weight */
  }
  
  
img {
  border-radius: 50%;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Maintain aspect ratio */
}

p {
    font-size: 14px;
  }
  